*{
    box-sizing: border-box;
}
/* Responsive image */
.responsive{
    width: 100%;
    height: auto;
}



/* text-box CSS */
#text-box{
    position: relative;
    top: 290px;
    left: 90px;
    font-weight: bolder;
    width: 700px;
}

/* END */

/* detailes CSS */
.details{
    color: white;
    background: rgb(36,0,36);
background: linear-gradient(90deg, rgba(36,0,36,1) 0%, rgba(114,9,121,1) 55%, rgba(255,68,0,0.7987570028011204) 100%);
}
/* END */

/* card CSS */

/* card hover effect */
div .card:hover{
    box-shadow:10px 10px 10px gray;
}
/* END */

.footer{
    background: black;
    color: white;
    height: 50px;
    text-align: center;
}
.footer p{
    position: relative;
    top: 10px;
}
